<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/ccs/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="principal">
        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo">
        <form class="buscador">
        <input type="text" id="buscar" value="Buscar producto,marca">
        <button type="submit"><div id="lupa"><i class="fa-solid fa-magnifying-glass"></i></div></button>
        </form>
         <h3 class="titular"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
         <div class="login">
          <ul class="lista">
             <li><a href="">Ofertas</a></li>
             <li><a href="">Tiendas Oficiales</a></li>
             <li><a href="">Vender</a></li>
             <li><a href="">Ayuda</a></li>
          </ul>
          <ul class="lista">
             <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
             <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
             <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
          </ul>
         </div>
         <div class="burger-menu">
             <i class="fas fa-bars"></i>
        </div>
    </header>
     <img src="/images/img-home-banner.jpg" class="home_banner">
    
    <main id="register-body">
     <form action="/register" method="post" class="registro">
     <div>
     <label>Nombre y Apellido</label>
     <input type="text" name="nombre" class="formulario">
     </div>

     <div>
     <label>Nombre de usuari@</label>
     <input type="text" name="NombreDeUsuario">
     </div>
    
     <div>
     <label>Fecha de nacimiento</label>
     <input type="date" name="FechaDeNacimiento">
     </div>

     <div>
     <label>Domicilio</label>
     <input type="text" name="Domicilio">
     </div>
    
     <div>
     <label>Perfil del usuario</label>
     <label>comprador</label>
     <input type="radio"  name="perfil" value="comprador">

     <label>Vendedor</label>
     <input type="radio"  name="perfil" value="vendedor">
     </div>

     <div class="categorias">
     <label>Categorias de interés: </label>
     
        <label>Electro
            <input type="checkbox"  name="Categorias" value="electro">
        </label>

        <label>
            Moda<input type="checkbox"  name="Categorias" value="moda">
        </label>

        <label>Hogar
            <input type="checkbox"  name="Categorias" value="hogar">
        </label>

        <label>Jugueteria
        <input type="checkbox"  name="Categorias" value="jugueteria">
        </label>

        <label>Vida sana
        <input type="checkbox"  name="Categorias" value="vida-sana">
        </label>

     </div>

     <div>
     <input type="file" name="avatar" accept=".jpg">
     </div>

     <div>
     <label>Contraseña</label>
     <input type="password" name="contraseña">
     </div>
     <div>
        <label>Confirmar contraseña</label>
        <input type="password" name="Confirmar-contraseña">
     </div>

     <div class="botones">
        <button type="submit">Enviar</button>
        <button type="reset">Borrar</button>
     </div>
     </form>
    </main>
    <footer class="pie">
        <section class="footer">
            <i class="fa-solid fa-credit-card"></i>
            <h2>Paga con tarjeta en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer">
            <i class="fa-solid fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer">
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section class="copy">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>
</html>