<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/ccs/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="body-register">
    <header>
        <div class="principal">
        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo">
        <form class="buscador">
        <input type="text" id="buscar" placeholder="Buscar producto,marca">
        <button type="submit"><div id="lupa"><i class="fa-solid fa-magnifying-glass"></i></div></button>
        </form>
         <h3 class="titular"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
         <div class="login">
          <ul class="lista">
             <li><a href="">Ofertas</a></li>
             <li><a href="">Tiendas Oficiales</a></li>
             <li><a href="">Vender</a></li>
             <li><a href="">Ayuda</a></li>
          </ul>
          <ul class="lista">
             <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
             <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
             <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
          </ul>
         </div>
         <button type="submit" class="burger">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            </button>
    </header>
     <img src="/images/img-home-banner.jpg" class="home_banner">
    
    <main id="register-body">
     <form action="/register" method="post" class="registro">

    <div id="primero">
     <div>
     <label>Nombre y Apellido</label>
     <input type="text" name="nombre" class="formulario">
     </div>

     <div>
     <label>Nombre de usuari@</label>
     <input type="text" name="NombreDeUsuario" class="formulario">
     </div>
    
     <div>
     <label>Fecha de nacimiento</label>
     <input type="date" name="FechaDeNacimiento" class="datos">
     </div>

     <div>
     <label>Domicilio</label>
     <input type="text" name="Domicilio" class="formulario">
     </div>
    
     <div>
     <p>Perfil del usuario</p>
     <label>comprador
     <input type="radio"  name="perfil" value="comprador">
     </label>

     <label for="vendedor">Vendedor
     <input type="radio"  name="perfil" value="vendedor">
    </label>
     </div>
    </div>
     <div id="segunda">
     <p>Categorias de interés: </p>
     <div class="categorias">
        <label for="electro">Electro</label>
        <input type="checkbox"  name="Categorias" id="electro">

        <label for="moda">Moda</label>
        <input type="checkbox"  name="Categorias" id="moda">

        <label for="hogar">Hogar</label>
        <input type="checkbox"  name="Categorias" id="hogar">

        <label for="jugueteria">Jugueteria</label>
        <input type="checkbox"  name="Categorias" id="jugueteria">

        <label for="vida-sana">Vida sana</label>
        <input type="checkbox"  name="Categorias" id="vida-sana">
     </div>

     <div>
     <input type="file" name="avatar" accept=".jpg">
     </div>

     <div>
     <label>Contraseña</label>
     <input type="password" name="contraseña" class="formulario">
     </div>
     <div>
        <label>Confirmar contraseña</label>
        <input type="password" name="Confirmar-contraseña" class="formulario">
     </div>
    </div>

     <div class="botones">
        <button type="submit">Enviar</button>
        <button type="reset">Borrar</button>
     </div>
     </form>
    </main>
    <footer class="footer-home">
        <section class="footer">
            <i class="fa-solid fa-credit-card"></i>
            <h2>Paga con tarjeta en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footer">
            <i class="fa-solid fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer">
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <section class="copy">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>
</html>