*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.login{
    display:none;
}

header{
background-color: rgb(255,241,89);
padding: 10px;
}

.logo{
max-width:50%;
}

.principal{
display: flex;
flex-wrap: wrap;
height: 100px;
justify-content: center;
}

.buscador{
display: flex;
justify-content: center;
width: 40%;
align-self: center;
}

#buscar{
width: 80%
}
    
#lupa{
margin: 3px;
padding: 2px;
width: 19px;
align-self: center;
}

button{
height: 30px;
align-self: center;
background-color: #fff;
}

.titular{
padding: 15px;
text-align: center;
}

div .lista{
font-family: Arial;
font-size: 18px;
padding: 15px;
}

.burger-menu{
font-size: 17px;
color: white;
text-align: center;
padding: 5px;
margin: 10px;
}
    
button.burger{
border-radius: 10px;
height: 50px;
background-color: #1259c3;
margin: 6% 45% 10px 45%;
}


body{
font-family: 'Roboto';
font-size: 12px;
background-color: #ebebeb;
}

#register-body{
display: flex;
flex-direction: column;
align-items: center;
}

main{
width: 90%;
margin: auto;
}

.ingresar{
font-size: 20px;
font-family: 'Courier New';
display: flex;
flex-direction: column;
align-items: center;
}

.ingresar form{
    width: 80%;
    text-align: center;
}

.registro{
font-size: 15px;
font-family: Arial;
}

.button-login button{
    width: 40%;
    border-radius: 4px;
}

.button-login{
text-align: center;
}

#register-body input{
background-color: white;
border-radius: 5px;
}

input.formulario{
width: 80%;
}

.ingresar input{
    width: 60%;
    height: 30px;
    border-radius: 4px;
    border: 1px;
    background-color: #fff;
}

.botones button{
font-size: 15px;
background-color: #1259c3;
border-radius: 5px;
padding: 5px;
width: 50%;
}

.botones{
display: flex;
margin: auto;
}

.categorias{
display: flex;
flex-wrap: wrap;
font-size: 18px;
justify-content: space-between;
}
.categorias label{
width: 50%;
}

div label{
display: block;
margin: 10px 0px;
}

div{
padding: 20px;
}

img{
width: 100%;
}

article{
margin: 10px;
background-color: #fff;
}

.article{
border-top: solid 1px #ebebeb;
padding: 10px;
box-sizing: border-box;
background-color: white;
position: relative;
display: flex;
flex-wrap: wrap;
}


article .fa-solid{
font-size: 16px;
color: rgb(35, 192, 35);
border: 1px solid #39b54a;
padding: 5px;
border-radius: 50%;
width: 30px;
height: 30px;
right: 20px;
position: absolute;
display: block;
top: -15px;
background-color: #fff;
}


h1{
font-size: 24px;
padding: 15px;
}

.precio{
font-size: 18px;
width: 30%;
padding-left: 5px;
}

.descuentos{
font-size: 16px;
color: rgb(35, 192, 35);
width: 70%;
padding-top: 12px;
}

.descripcion{
font-size: 16px;
margin-top: 10px;
}

.home_banner{
width: 100%;
}

.footer-home{
text-align: center;
margin-top: 15px;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
position: relative;
}

section.fa-solid{
font-size: 2em;
margin-left: 10px;
padding-top: 15px;
color: #1259c3;
}

.footer i{
color: #1259c3;
}

p{
font-size: 16px;
padding: 10px;
}

@media (min-width: 768px) {

    main section{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .registro{
    width: 60%;
    background-color: #ebebeb;
    }

    form.registro{
    width: 70%;
    }

    #register-body input{
    height: 30px;
    }
    .categorias{
    flex-wrap: wrap;
    justify-content:space-evenly
    }
    .categorias input[type="checkbox"]{
    width:40%;
    }

    input.formulario{
    font-size: 15px;
    padding-left: 5px;
    }

    input.datos{
    width: 60%;
    }

    div.ingreso{
    text-align: center;
    }

    label{
    font-size: 20px;
    }

    .principal{
    display: flex;
    }

    .buscador{
    max-width: 30%
    }
    .login{
    display: flex;
    justify-content: space-between;
    }

    div.login{
    padding: 10px 5px 5px;
    }

    .lista{
    display: flex;
    list-style: none;
    }

    .login li{
    margin: 0 5px;
    font-size: 16px;
    }

    button.burger{
    display: none;
    }

    article{
     width: 40%;
     margin-bottom: 10px;
    }
    .logo{
    width: 30%;
    padding: 10px;
    }
    #lupa{
    align-self: center;
    }
    .titular{
    align-self: center;
    padding: 5px;
    }
    li a{
    text-decoration: none;
    color: black;
    }
    .botones{
    width: 50%;
    }
    .footer{
    padding: 5px;
    width: 33%;
    height: 50%;
    }
    .fa-credit-card{
        font-size: 15px;
        padding-bottom: 10px;
        }
        .fa-gift{
        font-size: 15px;
        padding-bottom: 10px;
        }
        .fa-user-shield{
        font-size: 15px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1200px) {


    main section{
    display: flex;
    justify-content:space-evenly
    }

    .precio{
    font-size: 17px;
    padding-top: 13px;
    }

    .descripcion{
    opacity: 0;
    }

    form.registro{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 80%;
    }

    #register-body input{
    width: 80%;
    height: 20px;
    }

    #primero{
    width: 50%;
    border: solid 1px black;
    }
    #segunda{
    width: 50%;
    border: solid 1px black;
    }

    .categorias{
    flex-wrap:wrap;
    justify-content: space-evenly
    }
    #segunda .categorias input[type="checkbox"]{
    width: 30%
    }

    .registro label{
    font-size: 15px;
    }

    article:hover .descripcion{
    opacity: 1;
    transition: 0.50s;
    }

    section article:hover{
    transform: translateY(-20px);
    transition: 0.50s;
    box-shadow: 5px 5px 3px rgb(100, 100, 100);
    }

    .article{
    height: 60px;
    }

    article:hover .article{
    height: 90px;
    position:fixed;
    box-shadow: 5px 5px 3px rgb(100, 100, 100);
    transition: 0.25s;
    }

    .fa-truck:hover{
    transform: rotate(-90deg);
    transition: 2s;
    }

    .button-login{
    width: 30%;
    margin: auto;
    }

    .button-login button:hover{
    background-color: #0022AA;
    color: #fff;
    transform: translateY(-3px);
    transition: 0.50s;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
    }

    .visual_pc{
     display: flex;
     align-items: center;
    }

    .logo{
    width: 300px;
    }

    .titular{
    padding: 5px;
    }

    .principal{
    justify-content: space-around;
    }
    
    .home_banner{
    height: 200px;
    }

    article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 20%;
    }

    .titular{
    font-size: 18px;
    }

    .botones{
    justify-content: space-around;
    }

    .ingresar input{
    width: 50%;
    height: 30px;
    }
    .button-login button{
    width: 50%;
    border-radius: 4px;
    }
    .fa-credit-card{
    font-size: 20px;
    padding-bottom: 10px;
    }
    .fa-gift{
    font-size: 20px;
    padding-bottom: 10px;
    }
    .fa-user-shield{
    font-size: 20px;
    padding-bottom: 10px;
    }

    .footer-home .footer:hover{
    background-color: white;
    border-radius: 10px;
    transition: all 0.25s;
    border: solid 1px blue;
    }

    .footer:hover .fa-solid{
    color: black;
    }

    .copy{
    position: absolute;
    bottom: 0;
    left: 15px;
    }
}